body{
    background:radial-gradient(rgba(237,44,11,1) 0%, rgba(255,23,220,1) 19%, rgba(14,250,29,1) 44%, rgba(11,56,238,1) 72%, rgba(175,0,255,1) 100%);
    color: black;
}

#box{
   background-color: aqua;
   margin: auto;
   margin-top: 10%;
   width: 35%;
}

table{
    table-layout: fixed;
    width: 80%;
    margin: auto;

}


/* Takes away up/down arrows for number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberbox{
    pointer-events: none;
}

#generate{
    background-color: black;
    border-color: greenyellow;
    color:whitesmoke;
}

.btn{
    background-color: black;
    border-radius: green;
    color: green;
    width: 15%;
    height: 15%;
}

.rngbutton{
    background-color: red;
    color: black;
}


