<div style="text-align: center;" id="box">
    <p><b> Please enter your desired Username </b></p>
    <input type="text" id="userField" (input)="cipher()" placeholder="Username(coded)">
    <br>
    <p><b> Please enter your desired Password </b></p>
    <input type="password" (focusout)="checkRules()" id="password" placeholder="Password"> <br>
    <input type="password" (focusout)="matchPass()" id="confirmpassword" placeholder="Password Confirmation">
    <div id="passMess"></div>
    <p><b>
            1) Must include 3 random symbols through out password that are not consecutive. <br>
            2) Must include a number from your phone number. <br>
            3) Must include minimal of 1 capital letter.<br>
            4) The name of a selectable color must be included in the password.
        </b>
    </p>
    <label for="securityQ"><b>Please Choose your security Question:</b></label>
    <select id="securityQ" name="securityQ" (input)="showAnswer()">
        <option *ngFor="let response of securityQ" [value]="response.qNum"> {{response.qString}} </option>
    </select>
    <div id = "qAnswer"></div>


    <p><b> Please Enter a valid E-mail</b></p>
    <input type="text" id="email" placeholder="Email">
    <select id="symbol" name="symbol">
        <option *ngFor="let type of symbol" [value]="type">{{type}}</option>
    </select>
    <select id="website" name="website">
        <option *ngFor="let site of website" [value]="site"> {{site}} </option>
    </select>
    <select id="domain" name="domain">
        <option *ngFor="let res of domain" [value]="res"> {{res}} </option>
    </select>

    <p><b> Please choose your favorite color :) </b></p>
    <ul id = "colorPick">
        <li id="color-1" name="color" (click)="selectColor('Red')">{{colorList[0]}}</li>
        <li id="color-2" name="color" (click)="selectColor('Orange')">{{colorList[1]}}</li>
        <li id="color-3" name="color" (click)="selectColor('Yellow')">{{colorList[2]}}</li>
        <li id="color-4" name="color" (click)="selectColor('Green')">{{colorList[3]}}</li>
        <li id="color-5" name="color" (click)="selectColor('Lime')">{{colorList[4]}}</li>
        <li id="color-6" name="color" (click)="selectColor('Cyan')">{{colorList[5]}}</li>
        <li id="color-7" name="color" (click)="selectColor('Blue')">{{colorList[6]}}</li>
        <li id="color-8" name="color" (click)="selectColor('Pink')">{{colorList[7]}}</li>
        <li id="color-9" name="color" (click)="selectColor('Purple')">{{colorList[8]}}</li>
        <li id="color-10" name="color" (click)="selectColor('White')">{{colorList[9]}}</li>
        <li id="color-11" name="color" (click)="selectColor('Brown')">{{colorList[10]}}</li>
        <li id="color-12" name="color" (click)="selectColor('Black')">{{colorList[11]}}</li>
    </ul>
    <br>

    <div id="phoneboxes">
        <p><b> Please enter your phone number. </b></p>
        <table>
            <tr >
                <td>
                    <input class = "numberbox open" type="number" id="numbers" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers1" min="0" max="9"/>
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers2" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers3" min="0" max="9"  />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers4" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open"  type="number" id="numbers5" min="0" max="9"  />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers6" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers7" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers8" min="0" max="9" />
                </td>
                <td>
                    <input class = "numberbox open" type="number" id="numbers9" min="0" max="9" />
                </td>

            </tr>
            <tr>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers1')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers2')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers3')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers4')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers5')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers6')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers7')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers8')"> H
                    </button>
                </td>
                <td>
                    <button class = "rngbutton" (click)="lockNum('numbers9')"> H
                    </button>
                </td>
            </tr>
        </table>
        <button id="generate" outline="true" size="sm" type="button"
        (click)="getRandomNumber()" style="float: center"> Generate </button>

    </div>

    <button outline="true" size="sm" type="button" class="btn btn-outline submitButton"
        (click)="correctReg()" style="float: right"><b> Register </b></button>
    <button outline="true" size="sm" type="button" class="btn btn-outline submitButton "
        (click)="incorrectReg()" style="float: left"><b> Register </b></button>

<div id="amongusmodal" class="modal" hidden>
    <div class="modal-content">
        <span><h4>Which one is the imposter?</h4></span>
        <span><img src={{imgFileName}} class="au"/></span>
        <table>
            <tr>
                <td><img class="au flier" id="redboi" (click)="imposterOrNah('redboi')" src="../../assets/TheBois/RedBoi.png"/></td>
                <td><img class="au" id="orangeboi" (click)="imposterOrNah('orangeboi')" src="../../assets/TheBois/OrangeBoi.png"/></td>
                <td><img class="au" id="yellowboi" (click)="imposterOrNah('yellowboi')" src="../../assets/TheBois/YellowBoi.png"/></td>
                <td><img class="au" id="greenboi" (click)="imposterOrNah('greenboi')" src="../../assets/TheBois/GreenBoi.png"/></td>
            </tr>
            <tr>
                <td><img class="au" id="limeboi" (click)="imposterOrNah('limeboi')" src="../../assets/TheBois/LimeBoi.png"/></td>
                <td><img class="au" id="blueboi" (click)="imposterOrNah('blueboi')" src="../../assets/TheBois/BlueBoi.png"/></td>
                <td><img class="au" id="cyanboi" (click)="imposterOrNah('cyanboi')" src="../../assets/TheBois/CyanBoi.png"/></td>
                <td><img class="au" id="purpleboi" (click)="imposterOrNah('purpleboi')" src="../../assets/TheBois/PurpleBoi.png"/></td>
            </tr>
            <tr>
                <td><img class="au" id="pinkboi" (click)="imposterOrNah('pinkboi')" src="../../assets/TheBois/PinkBoi.png"/></td>
                <td><img class="au" id="whiteboi" (click)="imposterOrNah('whiteboi')" src="../../assets/TheBois/WhiteBoi.png"/></td>
                <td><img class="au" id="blackboi" (click)="imposterOrNah('blackboi')" src="../../assets/TheBois/BlackBoi.png"/></td>
                <td><img class="au" id="brownboi" (click)="imposterOrNah('brownboi')" src="../../assets/TheBois/BrownBoi.png"/></td>
            </tr>
        </table>
    </div>
</div>

<div class="flier">
    <img src="../../assets/Newt.jpg">
</div>




