body{
    background:radial-gradient(rgba(237,44,11,1) 0%, rgba(255,23,220,1) 19%, rgba(14,250,29,1) 44%, rgba(11,56,238,1) 72%, rgba(175,0,255,1) 100%);
    color: black;
}

#box{
   background-color: aqua;
   margin: auto;
   margin-top: 10%;
   width: 35%;
}

table{
    table-layout: fixed;
    width: 80%;
    margin: auto;

}

#securityQ{
    width: 80%;
}

.miniAU{
  width: 3%;
  height: 3%;
}


/* Takes away up/down arrows for number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberbox{
    pointer-events: none;
}

#generate{
    background-color: black;
    border-color: greenyellow;
    color:whitesmoke;
}

.btn{
    background-color: black;
    border-radius: green;
    color: green;
    width: 15%;
    height: 15%;
}

.rngbutton{
    background-color: red;
    color: black;
}

ul {
  display: inline-block;
}

#color-1 {
  background-color: rgb(198, 17, 17);
  width: 100%;
}
  
#color-2 {
  background-color: rgb(240, 125, 13);
  width: 100%;
}
  
#color-3 {
  background-color: rgb(246, 246, 87);
  width: 100%;
}
  
#color-4 {
  background-color: rgb(17, 128, 45);
  width: 100%;
}

#color-5 {
  background-color: rgb(80, 240, 57);
  width: 100%;
}

#color-6 {
  background-color: rgb(56, 255, 221);
  width: 100%;
}

#color-7 {
  background-color: rgb(19, 46, 210);
  width: 100%;
}

#color-8 {
  background-color: rgb(238, 84, 187);
  width: 100%;
}

#color-9 {
  background-color: rgb(107, 47, 188);
  width: 100%;
}

#color-10 {
  background-color: rgb(215, 225, 241);
  width: 100%;
}

#color-11 {
  background-color: rgb(133, 73, 30);
  width: 100%;
}

#color-12 {
  background-color: rgb(63, 71, 78);
  width: 100%;
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}

.au {
  height: 125px;
  width: 100px;
}

.flier .miniAU{
  height: 5%;
  width: 2%;
}