<table>
    <tr>
        <img class="door_image" src="../../assets/door.jpg">
        <button id="login1" color="primary" outline="true" size="sm" type="button" class="btn btn-outline m-0" (click)="loginCount(this.login1,'login1')">Login</button>
        <img class="door_image" src="../../assets/door.jpg">
        <button id="login2" color="primary" outline="true" size="sm" type="button" class="m-0" (click)="loginCount(this.login2,'login2')">Login</button>
        <img class="door_image" src="../../assets/door.jpg">
        <button id="login3" color="primary" outline="true" size="sm" type="button" class="m-0" (click)="loginCount(this.login3,'login3')">Login</button>
    </tr>
</table>
<div id = "loginFields">
    <div class = "foo">
        <label for="userField"><b>Username:</b></label>
        <input type="text" id = "userField" name = "userField" placeholder="Insert Username">
    </div>
    <div class = "foo">
        <label for="passField"><b>Password: </b></label>
        <input type="password" id = "passField" name = "passField">
    </div>
</div>
<div id = "messages"></div>
<div id= "diabolicalmodal" class = "modal" hidden>
    <div class = "modal-content">
        <p id = "latin1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut sem viverra aliquet eget sit amet. Neque vitae tempus quam pellentesque nec nam aliquam sem et. A pellentesque sit amet 
            porttitor eget dolor. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Cursus risus at ultrices mi tempus 
            imperdiet nulla malesuada. Volutpat odio facilisis mauris sit. Mauris nunc congue nisi vitae suscipit tellus mauris a. Et 
            malesuada fames ac turpis egestas sed. Justo laoreet sit amet <span id ="trick1">cursus</span> sit. Dolor magna eget est lorem ipsum. Fermentum posuere 
            urna nec tincidunt praesent semper feugiat nibh sed. Sagittis purus sit amet volutpat consequat mauris nunc. Ac orci phasellus 
            egestas tellus rutrum tellus pellentesque. Senectus et netus et malesuada fames ac turpis. Sed faucibus turpis in eu mi bibendum 
            neque egestas congue. Nisi vitae suscipit tellus mauris. Ut sem nulla pharetra diam. Nunc aliquet bibendum enim facilisis gravida.
        </p>
        <br>
        <p id = "latin2">
            Viverra adipiscing at in tellus integer feugiat scelerisque. Orci ac auctor augue mauris augue. Ipsum suspendisse ultrices gravida 
            dictum. Scelerisque felis imperdiet proin fermentum leo vel orci. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Neque 
            sodales ut etiam sit amet. Accumsan in nisl nisi scelerisque eu. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. 
            Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Blandit cursus risus at ultrices mi tempus imperdiet nulla. Lacus 
            vel facilisis volutpat est velit egestas. Habitant morbi tristique senectus et. Laoreet non curabitur <span id = "trick2">gravida</span> arcu ac. Quam nulla 
            porttitor massa id neque. Sit amet facilisis magna etiam tempor orci eu.
        </p>
        <br>
        <p id = "latin3">
            Enim neque volutpat ac tincidunt vitae. Sit amet risus nullam eget. Pretium nibh ipsum consequat nisl. Lectus mauris ultrices eros in. 
            Fringilla urna porttitor rhoncus dolor purus non enim. Sapien eget mi proin sed libero. Integer malesuada nunc vel risus commodo 
            viverra maecenas accumsan. Iaculis eu non diam phasellus. A scelerisque purus semper eget. Vulputate mi sit amet mauris commodo quis 
            imperdiet. Sodales neque sodales ut etiam sit amet nisl purus. Sit amet cursus sit amet. Aenean et tortor at risus viverra. Sed felis 
            eget velit aliquet sagittis id consectetur. Pharetra vel turpis nunc eget. Consequat ac felis donec et odio pellentesque diam volutpat. 
            Sed ullamcorper morbi tincidunt ornare massa eget egestas. Sed risus ultricies tristique nulla aliquet enim <span id = "go" (click)="toggleModal()">tortor</span> at auctor. Faucibus 
            interdum posuere lorem ipsum dolor sit.
        </p>
        <br>
        <p id = "latin4">
            Augue interdum velit euismod in pellentesque massa placerat. Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. 
            Laoreet sit amet cursus sit amet dictum sit amet. Laoreet sit amet cursus sit. Leo duis ut diam quam. Quisque sagittis purus sit amet 
            volutpat consequat mauris nunc congue. Convallis a cras semper auctor neque vitae tempus quam. Non arcu risus quis varius quam quisque 
            id diam vel. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Tempus imperdiet nulla malesuada 
            pellentesque elit eget. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Vel fringilla est ullamcorper eget nulla 
            facilisi. Consectetur purus ut faucibus pulvinar elementum integer enim neque. <span id = "trick3">Eros</span> donec ac odio tempor. Risus sed vulputate odio ut 
            enim. Quis commodo odio aenean sed adipiscing diam donec. Posuere lorem ipsum dolor sit amet consectetur. Nec feugiat in fermentum 
            posuere urna.
        </p>
        <br>
        <p id = "latin5">
            Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Eros donec ac odio tempor orci dapibus ultrices in. Et netus et 
            malesuada fames ac turpis egestas. Vestibulum rhoncus est pellentesque elit ullamcorper. Fermentum dui faucibus in ornare quam viverra. 
            Viverra mauris in aliquam sem fringilla ut <span id = "trick4">morbi.</span> Eu augue ut lectus arcu bibendum at varius vel pharetra. Lectus proin nibh nisl 
            condimentum id venenatis. Aliquet bibendum enim facilisis gravida neque. Consectetur purus ut faucibus pulvinar elementum integer enim 
            neque. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Etiam tempor orci eu lobortis elementum nibh tellus. Velit euismod 
            in pellentesque massa placerat. Donec enim diam vulputate ut pharetra sit amet aliquam id.
        </p>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<img class="lock_image" src="../../assets/Lockey.png" (click)="submit()">


