<table>
    <tr>
        <img class="door_image" src="../../assets/door.jpg">
        <button  color="primary" outline="true" size="sm" type="button" class="btn btn-outline">Login</button>
        <img class="door_image" src="../../assets/door.jpg">
        <button mat-raised-button color="primary" outline="true" size="sm" type="button" class="m-0">Login</button>
        <img class="door_image" src="../../assets/door.jpg">
        <button mat-raised-button color="primary" outline="true" size="sm" type="button" class="m-0">Login</button>
    </tr>
</table>


