.door_image{
    width: 31%;
    height:31%;
}

.lock_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table{
    padding-left: 40px;
}

.m-0{
    z-index: 2;
    transform: translate(-100%, 700%);
    position: absolute;
    padding: 10px 70px;
}

.foo{
    width: 90%;
    margin: auto;
}

#messages{
    text-align: center;
}

#loginFields{
    background-color: rgba(150,95,14,.8);
    color : white;
    width: 20%;
    font-size: 15px;
    margin: auto;
    z-index: 2;
    transform: translate(-10%, -320%);
    border-style: inset;
    border-radius: 5px;
    border-color: black;
    box-shadow: 5px 5px 5px rgb(94, 46, 7) inset;
}
#userField, #passField{
    font-size: 15px;
    margin-bottom: 5px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#go {
    color: limegreen;
}

#trick1 {
    color: rgb(0, 120, 215);
}

#trick2 {
    color: rgb(215, 19, 215);
}

#trick3 {
    color: rgb(215, 26, 7);
}

#trick4 {
    color: rgb(151, 91, 215);
}
